body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
    background-color: #f4f4f4;
}

header {
    background-color: #333;
    color: #fff;
    padding: 1rem 0;
    text-align: center;
}

header h1 {
    margin: 0;
}

header p {
    margin: 0.5rem 0;
}

nav ul {
    list-style: none;
    padding: 0;
    display: flex;
    justify-content: center;
    background-color: #444;
    margin: 0;
}

nav ul li {
    margin: 0 1rem;
}

nav ul li a {
    color: #fff;
    text-decoration: none;
}

nav ul li a:hover {
    text-decoration: underline;
}

main {
    padding: 2rem;
    display: flex;
    flex-direction: column;
    align-items: center;
}

section {
    margin-bottom: 2rem;
}

h2 {
    margin-top: 0;
}

ul {
    list-style: none;
    padding: 0;
}

ul li {
    margin-bottom: 0.5rem;
}

ul li a {
    text-decoration: none;
    color: #333;
}

ul li a:hover {
    text-decoration: underline;
}

#course-content {
    margin-bottom: 50px;
    width: 100%;
}

#navigation {
    display: flex;
    justify-content: space-between;
    width: 100%;
    max-width: 800px;
    margin-top: 20px;
}

.prev-chapter, .next-chapter {
    display: block;
    background-color: #4CAF50;
    color: white;
    padding: 10px 20px;
    text-decoration: none;
    border-radius: 5px;
}

.prev-chapter:hover, .next-chapter:hover {
    background-color: #45a049;
}

.next-chapter {
    margin-left: auto; /* Align next chapter link to the right */
}

.course-container {
    display: flex;
    flex-wrap: nowrap; /* Ensure all items are on a single line */
    gap: 20px;
    overflow-x: auto; /* Enable horizontal scrolling if needed */
    justify-content: flex-start;
    width: 100%;
}

.course-box {
    border: 1px solid #ccc;
    padding: 1rem;
    border-radius: 5px;
    background-color: #fff;
    width: 200px;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
    text-align: center;
    flex: 0 0 auto; /* Prevent the boxes from shrinking */
}

.course-box h3 {
    margin-bottom: 10px;
}

.course-box a {
    display: block;
    margin-top: 10px;
    text-decoration: none;
    color: #007BFF;
}

.course-box a:hover {
    text-decoration: underline;
}

.progress-bar-container {
    width: 100%;
    background-color: #e0e0e0;
    border-radius: 10px;
    overflow: hidden;
    margin: 10px 0;
}

.progress-bar {
    height: 20px;
    background-color: #76c7c0;
    width: 0;
    transition: width 0.5s;
}

button {
    display: inline-block;
    padding: 10px 20px;
    font-size: 16px;
    margin-top: 20px;
    color: #fff;
    background-color: #76c7c0;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    text-decoration: none;
}

button:hover {
    background-color: #5ba7a3;
}